[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dss-allocator"]
	path = lib/dss-allocator
	url = https://github.com/makerdao/dss-allocator
[submodule "lib/nst"]
	path = lib/nst
	url = https://github.com/makerdao/nst
[submodule "lib/erc20-helpers"]
	path = lib/erc20-helpers
	url = https://github.com/marsfoundation/erc20-helpers
[submodule "lib/sdai"]
	path = lib/sdai
	url = https://github.com/makerdao/sdai
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
